@import url('/src/index.css');

.main-container{
background-color: var(--bg-main);
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
width: 650px;


}

.menu-div{
  background-color:var(--bg-menu-div);
  width: 97%;
  height: 34px;
  border: none;
  outline: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px 5px;

}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-card);
  width: 150px;
  height: 190px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.card-img{
  width: 80px;
  height: 110px;;
}

.card-plate{
  padding: 1px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.card-price{
  padding: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-light);
}

