:root {
  --bg-app: #FEC12A;
  --bg-main: #FFFFFF;
  --bg-card: #FFB572;
  --text-dark: #401809;
  --text-light: #fafafa;
  --bg-menu-div: #EA7C69;
  --bg-nav-btn: #F23558;
  

}

*{
  margin: 0;
  padding: 0;
  font-family: 'Barlow Medium' , sans-serif;
  font-size: 16px;
  color: var(--text-dark);
  box-sizing: border-box;
  border-radius: 7px;
}

body{
  background-color: var(--bg-app);
  min-width: 1024px;
  height: 768px;
}

.app-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.app-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}



