:root {
  --bg-app: #FEC12A;
  --bg-main: #FFFFFF;
  --bg-card: #FFB572;
  --text-dark: #401809;
  --text-light: #fafafa;
  --bg-menu-div: #EA7C69;
  

}

*{
  margin: 0;
  padding: 0;
  font-family: 'Barlow Medium' , sans-serif;
  font-size: 16px;
  color: var(--text-dark);
  box-sizing: border-box;
  border-radius: 5px;
}

body{
  background-color: var(--bg-app);
  width: 100vw;
}


